USE [master]
GO
/****** Object:  Database [DbPersonel]    Script Date: 13.09.2021 16:05:04 ******/
CREATE DATABASE [DbPersonel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbPersonel', FILENAME = N'C:\Users\azder\DbPersonel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbPersonel_log', FILENAME = N'C:\Users\azder\DbPersonel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbPersonel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbPersonel]
GO
USE [DbPersonel]
GO
/****** Object:  Table [dbo].[Bilgi]    Script Date: 13.09.2021 16:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilgi](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[pAd] [nvarchar](20) NULL,
	[pSoyad] [nvarchar](30) NULL,
	[pSehir] [nvarchar](20) NULL,
	[pGorev] [nvarchar](20) NULL,
	[pMaas] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departman]    Script Date: 13.09.2021 16:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departman](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bilgi] ON 

INSERT [dbo].[Bilgi] ([pId], [pAd], [pSoyad], [pSehir], [pGorev], [pMaas]) VALUES (1, N'Barbara', N'Palvin', N'Barcelona', N'Satış', 4300)
INSERT [dbo].[Bilgi] ([pId], [pAd], [pSoyad], [pSehir], [pGorev], [pMaas]) VALUES (2, N'Jennifer', N'Anniston', N'Madrid', N'Muhasebe', 5200)
INSERT [dbo].[Bilgi] ([pId], [pAd], [pSoyad], [pSehir], [pGorev], [pMaas]) VALUES (3, N'Jason', N'Mamoa', N'İstanbul', N'Satış', 4500)
SET IDENTITY_INSERT [dbo].[Bilgi] OFF
GO
USE [master]
GO
